<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.3/angular-route.min.js" integrity="sha512-y1qD3hz/IAf8W4+/UMLZ+CN6LIoUGi7srWJ3r1R17Hid8x0yXe+1B5ZelkaL1Mjzedzu0Cg3HBvDG02SAgSzBw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="./css/estilo_site.css" rel="stylesheet">
    <title>Teste Angular</title>
</head>

<body ng-app="lista">

   

    <nav>
        <ul>
            <li><a href="#!/">Home</a></li>
            <li> <a href="#!/produtos">Produtos</a></li>
            <li>Sobre</li>
        </ul>
    </nav>

    <ng-view></ng-view>

    <footer>
        <h4>CRIADO POR LUCAS VIEGAS</h4>
    </footer>

    <script src="./js/lista.js"></script>
</body>

</html>